body {
  font-family: 'Permanent Marker', cursive;
  max-height: 705px;
  display: flex;
  flex-direction: column;
}

.mainScreen {
  display: flex;
  flex-direction: row;
}

.kiteWindow {
  display: flex;
  width: 75%;
  height: 765px;
  background: #ccffff;
  background-image: url(yellow-wall.jpg)
}

.infoPanel {
  width: 25%;
  background: red;
  display: flex;
  flex-direction: column;
}

.windInfo {
  height: 18%;
  background: #ffeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map {
  height: 70%;
  background: #FFEECC;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.twitterTicker {
  background-color: #D8E5E5;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 770px;
  left: 0;
}

.banksyGirl img{
  margin-top: 530px;
}


.wiggleHorizontal {
  animation: wiggleHorizontal 6.1s infinite 1s alternate;
}

.wiggleVertical {
  animation: wiggleVertical 3.8s infinite alternate;
}

@keyframes wiggleHorizontal {
  0% {
    transform: translate(8px 2px);
  }
  40% {
    transform: translateY(20px) translateX(-8px) rotate(2deg);
  }
  60% {
    transform: translateX(12px);
  }
  70% {
    transform: translate(0 5px) rotate(0);
  }
  100% {
    transform: translate(1px 2px);
  }
}


@keyframes wiggleVertical {
  0% {
    transform: translateY(0) translateX(4px);
  }
  40% {
    transform: translateY(60px) translateX(-8px) rotate(2deg);
  }
  60% {
    transform: translateY(40px);
  }
  70% {
    transform: translate(0 45px) rotate(0);
  }
  100% {
    transform: translate(10px 24px);
  }
}
.balloon {
  transition: margin 1.5s;
}
.noWind {
  margin-left: 200px;
  margin-top: 478px;
  transform: rotate(179deg);
}

.reallyLowWind {
  margin-left: 400px;
  margin-top: 440px;
}

.lowWind {
  margin-left: 510px;
  margin-top: 330px;
}

.medWind {
  margin-left: 620px;
  margin-top: 180px;
}

.highWind {
  margin-left: 730px;
  margin-top: 30px;
}

.reallyHighWind {
  display: none;
}

#map {
  border: solid 1px black;
  height: 75%;
}

#coords {
  background-color: black;
  color: white;
  padding: 5px;
}

input {
  background: #D8E5E5;
  border: none;
  font-family: 'Permanent Marker';
  height: 35px;
  position: absolute;
  bottom: 3px;
  font-size: 20px;
  left: 150px;
}

.twitterTimeline {
  height: 360px;
  position: absolute;
  top: 480px;
}
